<div class="container2">

  <h2 class="header"> Create new survey </h2>
  <a href="#" class="create_question"> Add question </a>
  <a href="#" class="remove_question" style="display:none"> Remove question </a>

  <form action='/survey/create' method='post' class="form">
    <br><br>
    <input type="text" name="title" placeholder="Survey Title" />
    <br><br>
    <div class="inputs">
      <div class="input_container">
        <input type="text" name="questions[question1[title]]" placeholder="question" />
        <input type="text" name="questions[question1[choice1]]" placeholder="choice" class="choice"/>
        <input type="text" name="questions[question1[choice2]]" placeholder="choice" class="choice"/>
        <input type="text" name="questions[question1[choice3]]" placeholder="choice" class="choice"/>
      </div>
    </div>
    <br><br>
    <input type="submit" value="Create" class="btn">
  </form>

</div>

